<ion-view title="Detail">
  <ion-content>
    <div class="list card">

      <div class="item item-avatar">
        <img src="images/chuck.png">
        <h2>Chuck Norris</h2>
        <p>ID: {{ item.id }}</p>
        <p>Chuckember 00, 9999 BC</p>
      </div>

      <div class="item item-body">
        <img class="full-image" src="http://lorempixel.com/300/150/nature">
        <p>
          This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
          the content is from a card-body consisting of an image and paragraph text. The footer
          consists of tabs, icons aligned left, within the card-footer.
        </p>
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
          <i class="icon ion-thumbsup"></i>
          Like
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-chatbox"></i>
          Comment
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-share"></i>
          Share
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
