<ion-view title="Preferences">
  <ion-nav-buttons side="right">
    <a class="button button-icon icon ion-home" href="#/"></a>
  </ion-nav-buttons>

  <ion-content>
    <div class="row">
      <div class="col col-80 col-offset-10">
        <ion-toggle ng-checked="true">Some option</ion-toggle>
        <ion-toggle ng-checked="false">Other setting</ion-toggle>
        <ion-toggle ng-checked="true" toggle-class="toggle-assertive">Advanced setting</ion-toggle>
      </div>
    </div>
  </ion-content>
</ion-view>
